/*----------------------------------------------------------------------------*\
    #UTILITIES STATES
\*----------------------------------------------------------------------------*/

// .is-hidden { display: none !important; }

// .is-visible { display: block !important; }

// .has-error {

//     .o-form__label,
//     .o-form__helper--error { color: red; }

//     .o-form__input { border: .125em solid red; }
// }

// .js-block { cursor: pointer; }
