/*----------------------------------------------------------------------------*\
    #UTILITIES BACKGROUNDS
\*----------------------------------------------------------------------------*/

$bg: u-bg-;

.#{$bg}primary {
    background-color: $color-primary;
}

.#{$bg}secondary {
    background-color: $color-secondary;
}

.#{$bg}secondary-light {
    background-color: $color-secondary-light;
}

.#{$bg}tertiary {
    background-color: $color-tertiary;
}

.#{$bg}tertiary-light {
    background-color: $color-tertiary-light;
}

.#{$bg}tertiary-lighter {
    background-color: $color-tertiary-lighter;
}

.#{$bg}tertiary-dark {
    background-color: $color-tertiary-dark;
}

.#{$bg}white {
    background-color: $color-white;
}

.#{$bg}gray {
    background-color: $color-gray;
}

.#{$bg}gray-dark {
    background-color: $color-gray-dark;
}

.#{$bg}gray-darker {
    background-color: $color-gray-darker;
}

.#{$bg}gray-lighter {
    background-color: $color-gray-lighter;
}

.#{$bg}gray-lightest {
    background-color: $color-gray-lightest;
}

.#{$bg}smoke-white {
    background-color: $color-smoke-white;
}

.#{$bg}switch-toggle {
    background-color: $color-switch-toggle;
}
