/*----------------------------------------------------------------------------*\
    #UTIITIES SIZES
\*----------------------------------------------------------------------------*/

/**
 * Small and up.
 */

@include breakpoint(small) {

    .u-cell-1of1--sm {
        flex: none;
        width: 100%;
    }
}

/**
 * Compact and up.
 */

@include breakpoint(compact) {

    .u-cell-1of4--cp {
        flex: none;
        width: 25%;
    }

    .u-cell-3of4--cp {
        flex: none;
        width: 75%;
    }
}

/**
 * Medium and up.
 */

@include breakpoint(medium) {

    .u-cell-1of3--md {
        flex: none;
        width: percentage(1/3);
    }

    .u-cell-1of2--md {
        flex: none;
        width: 50%;
    }

    .u-cell-2of3--md {
        flex: none;
        width: percentage(2/3);
    }

    .u-cell-1of1--md {
        flex: none;
        width: 100%;
    }

    .u-cell-3of4--md {
        flex: none;
        width: 75%;
    }
}

/**
 * Large and up.
 */

@include breakpoint(large) {

    .u-cell-1of12--lg {
        flex: none;
        width: 8.333333333%;
    }

    .u-cell-1of5--lg {
        flex: none;
        width: 40%;
    }

    .u-cell-1of4--lg {
        flex: none;
        width: 25%;
    }

    .u-cell-1of3--lg {
        flex: none;
        width: percentage(1/3);
    }

    .u-cell-2of5--lg {
        flex: none;
        width: 40%;
    }

    .u-cell-3of5--lg {
        flex: none;
        width: 60%;
    }

    .u-cell-2of3--lg {
        flex: none;
        width: percentage(2/3);
    }

    .u-cell-4of5--lg {
        flex: none;
        width: 80%;
    }
}

/**
 * Large and up.
 */

@include breakpoint(wide) {

    .u-cell-1of3--wd {
        flex: none;
        width: percentage(1/3);
    }

    .u-cell-1of2--wd {
        flex: none;
        width: 50%;
    }

    .u-cell-2of3--wd {
        flex: none;
        width: percentage(2/3);
    }
}

@include breakpoint(huge) {

    .u-cell-1of3--hg {
        flex: none;
        width: percentage(1/3);
    }

    .u-cell-2of3--hg {
        flex: none;
        width: percentage(2/3);
    }
}

/**
 * Wide and up.
 */

/* @include breakpoint(wide) {} */

/**
 * Huge and up.
 */

/* @include breakpoint(huge) {} */
