/*----------------------------------------------------------------------------*\
    #UTILITIES LAYOUT
\*----------------------------------------------------------------------------*/

/**
 * Floats.
 */

// .u-pull-left { float: left; }

.u-pull-right {
    float: right;
}

.u-align-right {
    margin-left: auto;
}

.u-align-right-lg {
    @include breakpoint(large) {
        margin-left: auto;
    }
}

.u-block {
    display: block;
}

.u-relative {
    position: relative;
}

.u-stretch-height {
    height: 100%;
}

.u-stretch-width-sm {
    width: 100%;

    @include breakpoint(wide) {
        width: auto;
    }
}

/**
 * Pull viewport.
 * (http://blog.cloudfour.com/breaking-out-with-viewport-units-and-calc/)
 */

// .u-pull-viewport {
//     margin-right: calc(-50vw + 50%);
//     margin-left: calc(-50vw + 50%);
// }

.u-layout-max-width {
    width: 100%;
    max-width: rhythm(24);
}

.u-min-width {
    min-width: 0;
}

.u-center {
    @include contain-margin(auto);
}

.u-mobile-hide {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.u-mobile-show {
    @include breakpoint(large) {
        display: none;
    }
}

.u-mobile-wd-show {
    @include breakpoint(wide) {
        display: none;
    }
}

.u-desktop-hide {
    @include breakpoint(large) {
        display: none;
    }
}

.u-desktop-show {
    display: none;

    @include breakpoint(large) {
        display: flex;
    }
}

.u-desktop-show-flex {
    display: none;

    @include breakpoint(wide) {
        display: flex;
    }
}

.u-cursor-pointer {
    cursor: pointer;
}
