/*----------------------------------------------------------------------------*\
    #UTILITIES SPACING (Vertical (rhythm) spacing)
\*----------------------------------------------------------------------------*/

/**
 * Leader spacing = top margin.
 */

$ml: u-margin-leader-;

.#{$ml}base {
    margin-top: rhythm(1);
}

.#{$ml}gamma {
    margin-top: rhythm(3.5);
}

/**
 * Trailer spacing = bottom margin.
 */

$mt: u-margin-trailer-;

.#{$mt}nano {
    margin-bottom: rhythm(.625);
}

.#{$mt}base {
    margin-bottom: rhythm(1);
}

/**
 * Rhythm spacing = top + bottom margin.
 */

$mr: u-margin-rhythm-;

.#{$mr}base {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
}

/**
 * Leader spacing = top padding.
 */

$p: u-padding-;

.#{$p}base {
    padding: rhythm(1);
}

/**
 * Leader spacing = top padding.
 */

$pl: u-padding-leader-;

.#{$pl}base {
    padding-top: rhythm(1);
}

/**
 * Trailer spacing = bottom padding.
 */

$pt: u-padding-trailer-;

.#{$pt}base {
    padding-top: rhythm(1);
}

/**
 * Rhythm spacing = top + bottom padding.
 */

$pr: u-padding-rhythm-;

.#{$pr}base {
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);
}

.#{$pr}gamma {
    padding-top: rhythm(2);
    padding-bottom: rhythm(2);
}
