// .c-contacts {}

.c-contacts{
    margin-bottom: 100px;
}

.c-contacts-wrapper {
    height: 30px;
}

.c-contacts__icon {
    display: block;
    margin: auto;
}

.c-questions{
    position: absolute;
    min-width: 130px;
}
