/*----------------------------------------------------------------------------*\
    #COMPONENTS MASTHEAD
\*----------------------------------------------------------------------------*/

.c-masthead {
    display: block;
    min-width: 144px;

    @include breakpoint(large) {
        min-width: 210px;
    }
}
