.c-related {
    @include rhythm-padding(3.5, 3);
    position: relative;
    overflow: hidden;

    .c-related__heading {
        @include contain-margin(auto);
        max-width: rhythm(21);
        margin-bottom: rhythm(.5);

        & + .c-cta--wide {
            @include contain-padding(0);

            .c-cta__heading {
                margin-top: 0;
            }
        }
    }

    .c-related__heading-sub {
        @include contain-margin(auto);
        display: block;
        max-width: rhythm(21);
    }

    > .c-mask {
        @include offset(absolute, 0, null, null, 0);
    }

    .c-cards,
    .c-list {
        @include rhythm-margin(1);
    }

    .c-filters {
        display: inline-block;
        margin-top: rhythm(1);
    }

    .c-btn-group {
        max-width: rhythm(20);
        margin-top: rhythm(1);
    }

    .js-toggle-parent {
        display: none;

        &.is-open {
            display: block;
        }
    }

    @include breakpoint(large) {
        @include rhythm-padding(5.5, 4);

        .c-cards {
            @include rhythm-margin(2);
        }

        .c-list {
            @include rhythm-margin(0);
        }
    }
}

.c-related--mt {
    margin-top: rhythm(3);
}
