.c-loadmore {
    margin-top: rhythm(1.5);

    @include breakpoint(large) {
        margin-top: rhythm(3);
    }
}

.c-loadmore--border {
    position: relative;

    .c-btn-wrapper {
        @include contain-padding(rhythm(1.375));
        position: relative;
        z-index: $layer-1;
    }

    &::before {
        @include offset(absolute, 50%, null, null, 0);
        width: 100%;
        height: 1px;
        transform: translateY(-50%);
        background-color: $color-gray-lighter;
        content: '';
    }
}
