/*----------------------------------------------------------------------------*\
    #SETTINGS BREAKPOINTS
\*----------------------------------------------------------------------------*/

/**
 * Breakpoints (target width in em's = pixel width / base font size).
 * Adjust the breakpoints to best fit content and (visual) design.
 */

$breakpoints: (
    small: (
        break-value: 20em /* 320px */,
        base-font-size: 93.75% /*  15px */
    ),
    compact: (
        break-value: 30em /* 480px */,
        base-font-size: 93.75% /*  15px */
    ),
    medium: (
        break-value: 48em /* 768px */,
        base-font-size: 93.75% /*  15px */
    ),
    large: (
        break-value: 64em /* 1024px */,
        base-font-size: 93.75% /*   15px */
    ),
    wide: (
        break-value: 80em /* 1280px */,
        base-font-size: 93.75% /*   15px */
    ),
    huge: (
        break-value: 90em /* 1440px */,
        base-font-size: 106.25% /*   17px */
    ),
    mega: (
        break-value: 97.5em /* 1560px */,
        base-font-size: 112.5% /*   18px */
    )
);
