/*----------------------------------------------------------------------------*\
    #SETTINGS PAGE
\*----------------------------------------------------------------------------*/

/**
 * Page (content) background color.
 */

$background-color: $color-white;

/**
 * Max page width.
 */

$page-max-width-wd: 1134px;
$page-max-width-hg: 1276px;
$page-max-width-mg: 1382px;

/**
 * Contain.
 */

$contain-percentage: 6vw;
