/*----------------------------------------------------------------------------*\
    #BASE PAGE
\*----------------------------------------------------------------------------*/

/**
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from a variables map. The `font-size` is calculated to exist
 *    in %, the `line-height` is calculated to exist unitlessly.
 * 2. `Font-size` is set to `small` size (without mq) for browsers that don't
 *    cut the mustard (aka `no-ctm`).
 * 3. Ensure the page always fills at least the entire height of the viewport.*
 * 4. Prevent horizontal scrollbar when using layout grids!
 */

/* 4 */

html {
    @include base-text-sizes(); /* 1, 2 */
    min-height: 100%; /* 3 */
    padding-top: 59px;
    background-color: $background-color;
    color: $color-gray-darker;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    overflow-x: hidden;

    @include breakpoint(large) {
        padding-top: 0;
    }
}

body.no-scroll {
    height: 100vh;
    margin-top: 0;
    overflow: hidden;
}

.js-block {
    cursor: pointer;
}

.body--home {

    .c-footer--bordered {
        margin-top: 0;
    }
}

.body--nl.body--home {

    .c-footer-image {
        display: flex;
    }
}
