.c-form--product {
    margin-top: rhythm(1);

    .o-form__label {
        display: block;
    }

    fieldset + fieldset {
        margin-top: rhythm(.75);
    }

    .o-input-set__label + .o-input-set__label {
        margin-left: rhythm(.5);
    }

    .c-btn--cart {
        margin-top: rhythm(1);
    }

    fieldset:last-child {
        margin-top: rhythm(1);
    }

    @include breakpoint(compact) {

        .c-btn--cart {
            margin-top: 0;
            margin-left: rhythm(.5);
        }

        fieldset:last-child {
            margin-top: rhythm(2);
        }
    }

    @include breakpoint(large) {
        margin-top: rhythm(1.25);
    }
}

.c-form__radio-wrapper {
    margin-top: rhythm(.25);

    fieldset + fieldset {
        margin-top: rhythm(1);
    }
}

.c-form__item {

    &.u-text-right {
        text-align: left;
    }

    .o-link {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-family: $primary-font;

        &:focus {
            outline: 0;
        }
    }

    @include breakpoint(large) {

        &.u-text-right {
            text-align: right;
        }
    }
}

.c-form__item--add {
    position: relative;

    .c-btn-square {
        @include offset(absolute, 50%, rhythm(.25), null, null);
        @include square(32px);
        @include is-hidden-text();
        display: block;
        padding: 0;
        transform: translateY(-50%);
        border-radius: 3px;
        background-color: $color-gray-darker;

        &:focus {
            outline: 0;
        }
    }

    .c-btn-square--add {

        &::after {
            @include offset(absolute, 50%, null, null, 50%);
            @include square(8px);
            transform: translate(-50%, -50%);
            background-position: -864px 0;
            content: '';
        }
    }

    .c-form__input {
        margin-top: 0;
        padding: rhythm(.5);
    }
}

.c-form--checkout {

    .woocommerce-invalid-required-field {

        .c-form__input {
            border-color: rgb(229, 0, 0);
        }
    }

    .c-cart__column:first-child {
        padding: rhythm(1) rhythm(1) rhythm(2.625) rhythm(1);
        border: 1px solid $color-gray-lighter;
        border-radius: 10px;
    }

    .o-grid__cell {
        margin-top: rhythm(1);
    }

    textarea {
        resize: none;
        height: 6em;
    }

    .c-message--info + span {
        display: block;
        margin-top: rhythm(1);
    }

    @include breakpoint(large) {

        .c-cart__column:first-child {
            padding: rhythm(2) rhythm(2) rhythm(3.625) rhythm(2);
            border: 1px solid $color-gray-lighter;
            border-radius: 10px;
        }
    }
}

.c-form--bordered {
    padding: rhythm(1);
    border: 1px solid $color-gray-lighter;
    border-radius: 10px;
    box-shadow: 0 16px 20px 0 rgba($color-black, .05);

    .c-form__heading {
        @include contain-margin(rhythm(-1));
        @include contain-padding(rhythm(1));
        padding-bottom: rhythm(.875);
        border-bottom: 1px solid $color-gray-lighter;
    }
}
